body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bgimage.jpg) no-repeat;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    opacity: 0.8;
}
.box h1{
    color: white;
    font-weight: 600;
}
.box input[type = "text"], .box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 250px;
    border-color: #469c65;
} 

.box input[type = "button"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #469c65;
    padding: 14px 10px;
    width: 120px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "button"]:hover{
    background-color: #469c65;
}